.button-fixed{
    position: sticky;
    bottom: 20px;
    height: 8vh;
    width: 270px;
    margin: 10px 10px 15px;
    border-radius: 50px;
    border: 1px solid var(--secondary-color);;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 800;
    font-size: 22px;
}

.button-fixed a, i {
    color: var(--light-color);
}