.card-product{
    background-color: var(--light-color);
    display: flex;
    padding: 15px;
    align-items: center;
    color: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 8px;
}
.card-product img {
    justify-self: center;
    padding-left: 10px;
}

.product-infos {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 800;
}

.product-description {
    font-size: 0.75rem;
    margin: 10px 0;
    text-align: justify;
}

.product-price {
    font-weight: 800;
}

