footer{
    height: 15vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 2fr 1fr;
    color: var(--light-color);
}

.footer-contact, 
.footer-signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contact{
    font-size: 1.125rem;
    background-color:  var(--primary-color);
    color: var(--light-color);
}

.footer-contact a, 
.footer-contact i {
    color: var(--secondary-color);
}

.footer-title{
    font-size: 1.25rem;
    padding-bottom: 10px;
}

.footer-signature a, 
.footer-signature i {
    color: var(--secondary-color);
    font-weight: 700;
}